@{
    ViewData["Title"] = "Home Page";
}
@{Layout = "~/Views/Shared/_Layout2.cshtml";}
<div class="text-center">
    <h1 class="display-4">Welcome to Cosmetic Webapplication</h1>
    <div>
        <button style="padding: 10px; margin-bottom: 10px;" class="w3-round w3-blue"><a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="login"> Login</a></button>
        <button style="padding: 10px; margin-bottom: 10px;" class="w3-round w3-blue"><a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="create"> Signup</a></button>

    </div>
</div>
